<div id="flashContainer">
    {% for label, flashes in app.flashes %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash|trans }}
            </div>
        {% endfor %}
    {% endfor %}
</div>